
.portfolio-bg{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile-container {
    display: flex;
    align-items: flex-start;
    gap: 30px
}

.profile-img{
    width: 574px;
    height: 640px;
    object-fit: cover;
    flex-shrink: 0;
}

.intro-section{
    font-size: large;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
}

.experience-section{
    display: flex;
    flex-direction: column;
}