
.portfolio-bg{
    grid-template-areas: 
    "profile-img intro-section"
    "experience-section"
    "skill-section";
}
.profile-img{
    display: flex;
    width: 574px;
    height: 640px;
}

.intro-section{
    display: flex;
}

.experience-section{
    display: flex;
}

.skill-section{
    display: flex;
}