.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
    "header"
    "content"
    "footer";
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #99BBAD

}