*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
.header{
    grid-area: header;
    text-align: center;
    font-family: cursive;
    background-color: white;
}

/* container */
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
    "header header"
    "fashion vinyl"
    "picture trip"
    "footer footer";
    grid-template-rows: 1fr 5fr 5fr 1fr;
    grid-template-columns: 1fr 1fr;

    /* to block overflow when container box get bigger by hover. */
    overflow: hidden;
}

.section{
    display: flex;
    font-family: copperplate;
    font-weight: bolder;
    justify-content: center;
    align-items: center;

    transition: all 0.3s cubic-bezier(0.2, 0.9, 0.4, 1.2);
    cursor: pointer;
}

.section:hover {
    transform: scale(1.03);

}

.section:active {
    transform: scale(0.97);
}

.fashion{
    grid-area: fashion;
    background-color: #99BBAD;
}

.vinyl{
    grid-area: vinyl;
    background-color: #EBD8B7;
}

.picture{
    grid-area: picture;
    background-color: #C6A9A3;
}

.trip{
    grid-area: trip;
    background-color: #9A8194;
}

/* footer */
.footer{
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: cursive;
    background-color: white;
    padding-right: 20px;
}

.contact-info{
    display: flex;
    gap: 30px;
    align-items: end;
}